@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --color-Skyblue: #eaf6f8;
  --color-blackBluee: #07313a;
  --color-azulBorde: #d7e7f2;
  --color-FondoAzul: #2b9eb3;
  --color-compassionate: #dff7ea;
  --color-care: #0b6b3a;
  --color-guiding: #0f1724;
  --color-guiaGris: #6b7b86;
  --color-botonAzul: #2b9eb3;
  --color-letraBlanca: #ffffff;
  --color-FondoCeleste: #e8f7f9;
  --color-azulLeer: #0b3b44;
  --color-imagen: #d7e7f2;
}
